#include "stdafx.h"
#include<iostream>
#include<math.h>
#define pi 3.141592653589793238463
using namespace std;

int main()
{
	
	float X,Y = 0;
	int N;
		cout << "請使用者輸入N:";
		cin >> N ;
	if(N>5) //
	{
		cout<<"不好意思喔~~你輸入的值不符合本作業!請參考範例~"<<endl;
		cout<<"請重新輸入~";
	}
	else
	 {
	for(int n = 0; n < N; n++)//設定一個迴圈跑n值在藉由以下公式運算然而產生我所要的值即可構成圓
	{
		X = cos( (2*pi) / 5 *n );//X軸座標公式(省略0/5,沒意義)
		Y = sin( (2*pi) / 5 *n );//y軸座標公式(省略0/5,沒意義)
		cout << "第"<< n<<"根為"  << " => "<< "X=" << X <<endl;
		cout << "第"<< n<<"根為"  << " => "<< "Y=" << Y <<endl;
	}
	  }
	system("pause");
	return 0;
}
